<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <div class="profile bg-light p-4 rounded shadow-sm mb-4">
        <!-- Avatar -->
        <div class="avatar mb-3 mx-auto" style="width: 150px; height: 150px;">
          <%= image_tag @profile_user.avatar, class: "rounded-circle w-100 h-100" %>
        </div>
        <!-- Username -->
        <h2 class="font-weight-bold mb-3"><%= @profile_user.name %></h2>
      </div>

      <div class="card shadow-sm">
        <div class="card-body">
          <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Privacidade e segurança
            </button>
            <ul class="dropdown-menu w-100">
              <li><a class="dropdown-item" href="#">Configurações de privacidade</a></li>
              <li><a class="dropdown-item" href="#">Configurações de segurança</a></li>
            </ul>
          </div>

          <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Informações pessoais
            </button>
            <ul class="dropdown-menu w-100">
              <li><a class="dropdown-item" href="#">Detalhes pessoais</a></li>
              <li><a class="dropdown-item" href="#">Histórico de atividades</a></li>
              <li><a class="dropdown-item" href="#">Preferências de comunicação</a></li>
            </ul>
          </div>

          <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Configurações
            </button>
            <ul class="dropdown-menu w-100">
              <li><a class="dropdown-item" href="#">Configurações da Conta</a></li>
              <li><a class="dropdown-item" href="#">Preferências de Notificação</a></li>
              <li><a class="dropdown-item" href="#">Segurança e Privacidade</a></li>
            </ul>
          </div>

          <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Preferências
            </button>
            <ul class="dropdown-menu w-100">
              <li><a class="dropdown-item" href="#">Idioma</a></li>
              <li><a class="dropdown-item" href="#">Tema</a></li>
              <li><a class="dropdown-item" href="#">Configurações de E-mail</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button onclick="window.history.back()" class="btn btn-primary mb-4">Voltar</button>
</div>
