// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 24px;
  font-weight: bold;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.banner a {
  padding: 5px 10px;
  background-color: black;
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}

.home-card {
  display: grid;
  font-size: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  padding: 16px;
}

.home-card-title {
  font-size: 30px;
  font-weight: bold;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home-card {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-card {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home-card {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.home-section-three {
  background-color: black;
  color: white;
  text-align: center;
  padding: 240px 0;
}

.home-section-four {
  background-color: white;
  color: black;
  text-align: center;
  padding: 240px 0;
}
