// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 24px;
  font-weight: bold;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.banner a {
  padding: 5px 10px;
  background-color: black;
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}

.home-section {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.home-section h2 {
  font-size: 36px;
  font-weight: bold;
}

.home-section-three {
  background-color: black;
  color: white;
  margin: auto;
  padding: 120px 0;
}

.home-section-four {
  background-color: #F7F7F7;
  color: black;
  padding: 120px 0;
}

.home-section-five {
  background-image: linear-gradient(to top right, #003366 25%, #660033 80%);
  color: white;
}
