<h1 class="display-4 text-center my-4">Áreas Perigosas</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
          <h5 class="mb-0">Lista de Áreas Perigosas</h5>
        </div>
        <ul class="list-group list-group-flush">
          <% @danger_areas.each do |danger_area| %>
            <li class="list-group-item">
              <%= link_to danger_area.name, danger_area_path(danger_area.id), class: "text-decoration-none text-dark" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col text-center">
      <%= link_to "Nova Área", new_danger_area_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
