<footer class="fixed-bottom">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <p>TravelShield - Protegendo suas viagens ©</p>
        <ul class="list-unstyled justify-content-between">
          <li><a href="#" style="text-decoration: none;">Sobre nós</a></li>
          <li><a href="#" style="text-decoration: none;">Contato</a></li>
          <li><a href="#" style="text-decoration: none;">Termos de serviço</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
