<div class="banner py-5" style="background: linear-gradient(to top right, #003366 25%, #660033 80%);">
  <h1 class="display-4" style="color: white;">Sobre o TravelShield</h1>
</div>

<div class="container my-5">
  <div class="row mb-4">
    <div class="col-md-6 mb-3">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <p class="card-text" style="font-size:30px;">Bem-vindo ao TravelShield, o seu companheiro de viagem definitivo! Estamos dedicados a proporcionar-lhe a melhor experiência de viagem possível, garantindo a sua segurança e tranquilidade durante toda a sua jornada.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <p class="card-text" style="font-size:30px;">No TravelShield, oferecemos uma ampla gama de serviços e recursos para tornar a sua experiência de viagem perfeita. Desde atualizações de voos em tempo real até recomendações de viagem personalizadas, estamos aqui para ajudar.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6 mb-3">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <p class="card-text" style="font-size:30px;">Nossa equipe de especialistas em viagens experientes está sempre pronta para ajudá-lo com qualquer dúvida ou preocupação que possa ter. Estamos comprometidos em fornecer um atendimento excepcional ao cliente e garantir a sua satisfação.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <p class="card-text" style="font-size:30px;">Seja você um viajante frequente ou esteja planejando suas férias dos sonhos, o TravelShield está aqui para tornar a sua experiência de viagem inesquecível. Explore nosso site, reserve sua próxima viagem e deixe-nos cuidar do resto!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-center" style="font-size:30px;">Boas viagens,</p>
      <p class="text-center" style="font-size:30px;"><strong>A equipe TravelShield</strong></p>
    </div>
  </div>
</div>
