<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>TravelShield <strong>informa sobre a segurança do destino</strong> para <strong>quem quer viajar</strong>!</h1>
    <p>Deixe a sua viagem mais segura com informações sobre qualquer destino.</p>
    <a class="btn btn-flat" href="#">Busca</a>
  </div>
</div>

<div class="cards mt-5">
  <% @cities.each do |city| %>
    <div class="card mb-4 rounded">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-body">
          <%= link_to city_path(city) do %>
            <h5 class="card-title"><%= city.name %></h5>
          <% end %>
          <p>Short description here!</p>
        </div>
    </div>
  <% end %>
</div>
