<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>TravelShield brings <strong>safety information</strong> for <strong>travellers</strong>!</h1>
    <p>Make your trip safe getting information about your destination.</p>
    <a class="btn btn-flat" href="#">Sign up</a>
  </div>
</div>
