<div class="container mt-5">
  <h1 class="mb-4">Termos de Serviço</h1>
  <div class="row">
    <div class="col-md-8">
      <p>Seja bem-vindo aos termos de serviço do TravelShield. Ao usar nosso site, você concorda com os seguintes termos:</p>
      <ol>
        <li><strong>Cobertura de Seguro:</strong> O TravelShield oferece planos de seguro para visitantes, estudantes internacionais e muito mais. Leia atentamente os detalhes da cobertura antes de adquirir um plano.</li>
        <li><strong>Condições e Exclusões:</strong> Certas condições e exclusões se aplicam. Consulte o documento da sua apólice para obter informações detalhadas.</li>
        <li><strong>Contato:</strong> Para dúvidas ou assistência, entre em contato conosco:</li>
      </ol>
      <ul>
        <li>Atendimento ao Cliente: <a href="tel:18555080808">1-855-508-0808</a></li>
        <li>Vendas: <a href="tel:18665170606">1-866-517-0606</a></li>
        <li>Corretores: <a href="tel:18552008472">1-855-200-8472</a></li>
        <li>Reclamações: <a href="tel:18002038508">1-800-203-8508</a></li>
      </ul>
    </div>
  </div>
</div>
