<div class="banner p-5" style="background: linear-gradient(to top right, #003366 25%, #660033 80%);">
  <h1 class="display-4" style="color: white;">Dicas</h1>
</div>
  <div class="row">
    <div class="col">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <h3 class="card-title mb-3">Dicas para viajar</h3>
          <p class="card-text">Ao viajar, é importante ter cuidado com as coisas que podem acontecer. Aqui estão algumas dicas para ajudá-lo a se preparar para sua viagem:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Verifique as condições de segurança em sua cidade de destino.</li>
            <li class="list-group-item">Tenha um plano de viagem e considere as opções de transporte disponíveis.</li>
            <li class="list-group-item">Se você estiver usando transporte público ou serviços de carona, opte por aplicativos confiáveis. Verifique as avaliações e escolha opções seguras.</li>
            <li class="list-group-item">Evite viajar em dias de manhã ou noite.</li>
            <li class="list-group-item">Faça uma lista de lugares a visitar e faça uma rotina de visita.</li>
            <li class="list-group-item">Seja cauteloso com os lugares de viagem e evite riscos de acidentes.</li>
            <li class="list-group-item">Mantenha-se atualizado sobre as notícias e eventos relacionados à viagem.</li>
            <li class="list-group-item">Verifique a previsão do tempo para o seu destino e esteja preparado para as condições climáticas. Leve roupas adequadas e proteja-se contra extremos de temperatura.</li>
            <li class="list-group-item">Digitalize seus documentos de viagem, como passaporte, visto e cartões de crédito. Mantenha cópias digitais em um local seguro, caso você precise deles durante a viagem.</li>
          </ul>
          <div class="mt-4">
            <p class="text-center">
              <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Travel Tips Image 1">
              <img src="https://via.placeholder.com/150" class="img-fluid rounded mx-2" alt="Travel Tips Image 2">
              <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Travel Tips Image 3">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
