<h1 class="display-4">Dicas</h1>

<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item">
        <h3 class="mb-3">Dicas para viajar</h3>
        <p>Ao viajar, é importante ter cuidado com as coisas que podem acontecer. Aqui estão algumas dicas para ajudá-lo a se preparar para sua viagem:</p>
        <ul>
          <li>Verifique as condições de segurança em sua cidade de destino.</li>
          <li>Tenha um plano de viagem e considere as opções de transporte disponíveis.</li>
          <li>Se você estiver usando transporte público ou serviços de carona, opte por aplicativos confiáveis. Verifique as avaliações e escolha opções seguras.</li>
          <li>Evite viajar em dias de manhã ou noite.</li>
          <li>Faça uma lista de lugares a visitar e faça uma rotina de visita.</li>
          <li>Seja cauteloso com os lugares de viagem e evite riscos de acidentes.</li>
          <li>Mantenha-se atualizado sobre as notícias e eventos relacionados à viagem.</li>
          <li>Verifique a previsão do tempo para o seu destino e esteja preparado para as condições climáticas. Leve roupas adequadas e proteja-se contra extremos de temperatura.</li>
          <li>Digitalize seus documentos de viagem, como passaporte, visto e cartões de crédito. Mantenha cópias digitais em um local seguro, caso você precise deles durante a viagem.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
