<div class="banner p-5" style="background: linear-gradient(to top right, #003366 25%, #660033 80%);">
  <h1 class="display-4" style="color: white; font-size: 3rem;">Dicas</h1>
</div>
<div class="row">
  <div class="col">
    <div class="card border-0 shadow-sm">
      <div class="card-body">
        <h3 class="card-title mb-3" style="font-size: 1.75rem;">Dicas para viajar</h3>
        <p class="card-text" style="font-size: 1.25rem;">Ao viajar, é importante ter cuidado com as coisas que podem acontecer. Aqui estão algumas dicas para ajudá-lo a se preparar para sua viagem:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="font-size: 1.125rem;">Verifique as condições de segurança em sua cidade de destino.</li>
          <li class="list-group-item" style="font-size: 1.125rem;">Tenha um plano de viagem e considere as opções de transporte disponíveis.</li>
          <li class="list-group-item" style="font-size: 1.125rem;">Se você estiver usando transporte público ou serviços de carona, opte por aplicativos confiáveis. Verifique as avaliações e escolha opções seguras.</li>
          <li class="list-group-item" style="font-size: 1.125rem;">Evite viajar muito cedo ou pela noite. Aproveite as manhãs e as tardes, com maior movimentação.</li>
          <li class="list-group-item" style="font-size: 1.125rem;">Faça uma lista de lugares a visitar e faça uma rotina de visita.</li>
          <li class="list-group-item" style="font-size: 1.125rem;">Seja cauteloso com os lugares de viagem e evite riscos de acidentes.</li>
          <li class="list-group-item" style="font-size: 1.125rem;">Mantenha-se atualizado sobre as notícias e eventos relacionados à viagem.</li>
          <li class="list-group-item" style="font-size: 1.125rem;">Verifique a previsão do tempo para o seu destino e esteja preparado para as condições climáticas. Leve roupas adequadas e proteja-se contra extremos de temperatura.</li>
          <li class="list-group-item" style="font-size: 1.125rem;">Digitalize seus documentos de viagem, como passaporte, visto e cartões de crédito. Mantenha cópias digitais em um local seguro, caso você precise deles durante a viagem.</li>
        </ul>
        <div class="container my-5">
          <div class="row">
            <div class="col-4">
              <img src="https://res.cloudinary.com/dxf2n51ev/image/upload/f_auto,q_auto/v1/travelShieldLeWagon/haxhtmnkkec9cfux86bt" class="img-fluid rounded" alt="Imagem de passaporte e bilhetes">
            </div>
            <div class="col-4">
              <img src="https://res.cloudinary.com/dxf2n51ev/image/upload/f_auto,q_auto/v1/travelShieldLeWagon/ewbjq7pfclfwvjto4z7k" class="img-fluid rounded mx-2" alt="Imagem de pessoa com mala com cadeado">
            </div>
            <div class="col-4">
              <img src="https://res.cloudinary.com/dxf2n51ev/image/upload/f_auto,q_auto/v1/travelShieldLeWagon/t030cjrfw5d8gm4imtnu" class="img-fluid rounded" alt="Imagem de colete salva-vidas e itens de segurança">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Adding a spacer to prevent footer from overlapping -->
<div style="height: 100px;"></div>
