<div style="align-center">
  <% if @cities.count.zero? %>
    <h1>Nenhum resultado encontrado</h1>
  <% end %>
</div>
<div id="map" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="row">
  <% @cities.each do |city| %>
    <div class="col-md-3">
      <div class="card mb-4 rounded">
        <%= link_to city_path(city) do %>
          <div class="card-body">
            IMAGEM NO BACKGROUND
            <h5 class="card-title"><%= city.name %></h5>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
